<a href="https://colab.research.google.com/github/naminda/hello-world/blob/master/MLFoundations_B3_Quiz_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset: Bank Marketing Data Set
Source: UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]

# Student Name: << Type your Name Here >>
# Date : << Type the date Here>>

# Assignment Instructions
* You will be given 12 tasks to complete the code cells.
* Provide your code ONLY in between hash (#) lines.
* Do not add or moidfy code outside the hash (#) lines
* In some tasks, you may find place holders (<<?>>) to replace by a expression/variable/function to complete the code.
* Example answer is provided for some tasks

### Example:
Task 0: create variable nameed `a` and assign value `3.14`. Then print the value of `a`.

```python
#create variable nameed a and assign value 3.14. Then print the value of a.
###############################
a = 3.14
print(a)
###############################
```

## 1. Load Python Modules

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Acquire Data to Work

* Task 1: Load CSV File from the above URL into Pandas DataFrame.

In [ ]:
file_name = 'https://raw.githubusercontent.com/SumuduTennakoon/MLFoundations/main/Datasets/bank_marketing_dataset.csv'

# Task 1: Complete the code below to load CSV File from the above URL into Pandas DataFrame
# Hint: Fill <<1>> with the appropriate function name
#############################################################
data = <<1>>(file_name, sep=',')
#############################################################

data.sample(5)

* Task 2: Find how many rows and columns this dataset. Use print stament display the value. 
> ![image.png]()

In [ ]:
# Task 2: Complete the code below to print number of rows and columns.
#############################################################
rows = <<?>>
columns = <<?>>
#############################################################

print(F"rows = {rows}, columns={columns}")

* Task 3: Get Column Datails

In [ ]:
# Task 3.1: Type your code below to display column names, data types and non null value counts as a table.
# Note the columns with missing values.
#############################################################

#############################################################

In [ ]:
# Task 3.2: Replace the missing values of the columns you identified
# Hint 1: 'days_since_previous_campaign_contact' should be -1 when no previous campaign contacts were made.
# Hint 2: 'previous_campaign_contacts' should be 0 if no previous campaign contacts were made.
# Hint 3: Ignore any missing value of 'age' column. We will work on that below.
# Hint 4: Use fillna()
#############################################################

#############################################################

## 4. Descriptive Statistics

* Task 4: Find and display min, max, mean, median and standard deviation of the column `legs`. You may choose from different methods to do this task. below is the output from one method.
> ![image.png]()

In [ ]:
# Task 4: Type your code below to find and display min, max, mean, median and standard deviation of the numeric columns.
# Hint 1: Use percentiles list [0.05, 0.1, 0.25, 0.5, 0.7, 0.9, 0.95] in <<2>> to get custom percentile columns
# Hint 2: Replace <<1>> by appropriate function
#############################################################
data.<<1>>(<<2>>)
#############################################################

* Task 5 : Create a boxplot to visualize the deatils you found in Task 3.

In [ ]:
# Task 5.1: Type your code to create a box plot using the columns 'age'
#############################################################
data['age'].plot(<<?>>)
#############################################################

In [ ]:
# Task 5.2: Remove outlier records based on the 'age' column
# Hint: Drop entire row containing outlier value for 'age'
#############################################################
data.drop(<<?>>, inplace = True)
#############################################################

In [ ]:
# Task 5.3: Produce Box Plot after removing outliers
#############################################################
data['age'].plot(<<?>>)
#############################################################

In [ ]:
# Task 5.4: Get Descriptive Statistics for 'age' column only
#############################################################

#############################################################

Task 6: Get Age distribution by 'job_type'

In [ ]:
# Task 6.1: Find the median age by the the column 'job_type'
# Hint: Use group by
#############################################################
data.groupby(<<?>>).agg({<<?>>:<<?>>})
#############################################################

In [ ]:
# Task 6.2: Replace any missing value of the 'age' column by the median age for the 'job_type'
# Hint: Use loc to isolate 'age' cells and isna() function to locate rows with missing values
#############################################################
data.loc[<<?>>, 'age']=<<?>>
#############################################################

* Task 6: Understanding Categorical Columns

In [ ]:
# Task 6.1: Get descriptive statistics for the column 'education'
#############################################################

#############################################################

In [ ]:
# Task 6.2: Get display freqeuncy table for the column 'education' 
# get row count for each category in the column 'education' 
#############################################################
edu_value_counts = <<?>>
#############################################################
print(edu_value_counts)

In [ ]:
# Task 6.3: If you notice any data issue in category labeling such as potential typo, correct those in the dataset. 
# Hint 1: Use replace or loc[] to replace the incorrect values with correct ones.
# Hint 2: You should see two issues
#############################################################
data['education'].replace(<<?>>, <<?>>, inplace=True)
data['education'].replace(<<?>>, <<?>>, inplace=True)
#############################################################

In [ ]:
# Task 6.4: Get row count for each category in the column 'education'
# Hint: Resuse what you did in 6.2 and verify the corrections being applied
#############################################################
edu_value_counts = <<?>>
#############################################################
print(edu_value_counts)

In [ ]:
# Task 6.4: Complete the code below <<?>>  to create bar plot for 'education' category column
#############################################################
edu_value_counts.plot(kind='<<?>>', ylabel='Count')
#############################################################

In [ ]:
# Task 6.5: Complete the code below to get unique values in the column 'is_subscribed' 
#############################################################
subsc_unique = data['is_subscribed'].<<?>>()
#############################################################
print(subsc_unique)

In [ ]:
# Task 6.6: Complete the code below to display freqeuncy table for the column 'is_subscribed' 
# get row count for each category in the column 'education' 
#############################################################
subsc_value_counts = <<?>>
#############################################################
print(subsc_value_counts)

In [ ]:
# Task 6.7: It can take onlt tw values for 'is_subscribed' column {'yes', 'no'}
# Hint: Use replace or loc
#############################################################
data['is_subscribed'].<<?>>(<<?>>, <<?>>, inplace=True)
data['is_subscribed'].<<?>>(<<?>>, <<?>>, inplace=True)
data['is_subscribed'].<<?>>(<<?>>, <<?>>, inplace=True)
#############################################################

In [ ]:
# Task 6.8: Repeat what you did in Task 6.6 to verify the changes being appplied to teh dataset
# get row count for each category in the column 'education' 
#############################################################
subsc_value_counts = <<?>>
#############################################################
print(subsc_value_counts)

In [ ]:
# Task 6.2: Get display freqeuncy table for the column 'job_type' 
# get row count for each category in the column 'job_type' 
#############################################################
job_value_counts = <<?>>
#############################################################
print(job_value_counts)

In [ ]:
# Task 6.3: If you notice any data issue in category labeling such as potential typo, correct those in the dataset. 
# Hint 1: Use replace or loc[] to replace the incorrect values with correct ones.
# Hint 2: You should see two issues
#############################################################
data['job_type'].<<?>>
#############################################################
data['job_type'].value_counts()

In [ ]:
# Execute the code below to verify your value replacement worked.

data['job_type'].value_counts()

Task 7: Quering Data

In [ ]:
# Task 7.1: Display rows where 'average_yearly_balance' greater than 80,000
# Hint: Use query() function
#############################################################
data.query(<<?>>)
#############################################################

In [ ]:
# Task 7.1: Count rows rows where 'average_yearly_balance' is negative (<0) and 'has_credit_in_default' is 'yes'
# Hint: use shape attribute to get the row count of the result set
#############################################################
negative_bal_w_default_count = <<?>>
#############################################################
print(negative_bal_w_default_count)

Task 8: Encoding

In [ ]:
# Task 8.1 Encode the columns 'has_credit_in_default',	'has_housing_loan', 	'has_personal_loan' and 'is_subscribed' with the condition below
# 'yes' -> 1
# 'no' -> 0
# Hint 1: You can use np.where()
# Hint 2: You can apply this encoding one column at a time
#############################################################
data['has_credit_in_default'] = np.where(<<?>>, <<?>>, <<?>>)
data['has_housing_loan'] = np.where(<<?>>, <<?>>, <<?>>)
data['has_personal_loan'] = np.where(<<?>>, <<?>>, <<?>>)
data['is_subscribed'] = np.where(<<?>>, <<?>>, <<?>>)
#############################################################

In [ ]:
# Task 8.2 Convert column 'previous_campaign_contacted' to binary follwoing the condition below
# if previous_campaign_contacted > 1 then 1 
# if previous_campaign_contacted == 0 or None then 0
# Create a new column
#############################################################
data['previous_campaign_contacted'] =(<<?>>, <<?>>, <<?>>)
#############################################################

In [ ]:
# Task 8.3 Get the descriptive statistics of the columns 'has_credit_in_default',	'has_housing_loan', 	'has_personal_loan', 'previous_campaign_contacted',  and 'is_subscribed'
#############################################################
data[['has_credit_in_default',	'has_housing_loan', 	'has_personal_loan' , 'previous_campaign_contacted', 'is_subscribed' ]].<<?>>()
#############################################################

* Task 9: Binning

In [ ]:
edges = [-np.inf, 0, 100, 500, 1000, 5000, np.inf]
# Task 9.1 complete the code below to convert numeric variable 'average_yearly_balance' to categorical variable using cut() function and list of edges above
#############################################################
data['avg_yearly_balance_bin'] = pd.cut(<<?>>, <<?>>)#, labels=labels)
#############################################################

In [ ]:
# Execute the code below to verify your encoding worked.
data['avg_yearly_balance_bin'].value_counts()

In [ ]:
edges = [0, 1, 2, 5, np.inf]
# Task 9.2 complete the code below to convert numeric variable 'number_of_contacts' to categorical variable using cut() function and list of edges above
#############################################################
data['number_of_contacts_bin'] = <<?>>
#############################################################

In [ ]:
# Execute the code below to verify your encoding worked.
data['number_of_contacts_bin'].value_counts()

In [ ]:
edges = [0, 30, 45, 60,  np.inf]
# Task 9.3 complete the code below to convert numeric variable 'age' to categorical variable using cut() function and list of edges above
#############################################################
data['age_bin'] = <<?>>
#############################################################

In [ ]:
# Execute the code below to verify your encoding worked.
data['age_bin'].value_counts()

* One-hot encoding categorical variables

In [ ]:
# Execute teh code below to create dummy variables from categorical columns
data = pd.concat([data, pd.get_dummies(data[['education', 'job_type', 'marital_status', 'contact_type', 
                                             'previous_campaign_outcome', 'avg_yearly_balance_bin', 'age_bin', 'number_of_contacts_bin']])], axis=1)

* Task 10: Get Corrrection Matrix

In [ ]:
# Task 10 Complete the code below to get correlation matrix for numeric columns in the lsit below (including the converted ones)
# Hint 1: replace <<1>> with corr_columns_list
# Hint 2: replace <<2>> with the appropriate function
corr_columns_list = ['age', 'job_type', 'marital_status', 'education', 'has_credit_in_default', 'has_housing_loan',
       'has_personal_loan',  'avg_yearly_balance_bin', 'number_of_contacts', 'is_subscribed']

#############################################################
data[<<?>>].<<?>>()
#############################################################

# 5. Building a Machine Learning model

* Sample Dataset to reduce imbalanceness

In [ ]:
# Execute the code below to reduce imbalanceness.
data = data.query("is_subscribed==1").sample(5000).append(data.query("is_subscribed==0").sample(15000))

In [ ]:
model_columns_list = ['has_credit_in_default', 'has_housing_loan', 'has_personal_loan',
      'education_primary', 'education_secondary', 'education_tertiary', 'education_unknown',
       'job_type_admin', 'job_type_blue-collar', 'job_type_entrepreneur',
       'job_type_housemaid', 'job_type_management', 'job_type_retired',
       'job_type_self-employed', 'job_type_services', 'job_type_student',
       'job_type_technician', 'job_type_unemployed', 'job_type_unknown',
       'marital_status_divorced', 'marital_status_married', 'marital_status_single', 
       'contact_type_cellular', 'contact_type_telephone', 'contact_type_unknown', 
       'previous_campaign_outcome_failure','previous_campaign_outcome_other', 'previous_campaign_outcome_success', 'previous_campaign_outcome_unknown', 
       'avg_yearly_balance_bin_(-inf, 0.0]', 'avg_yearly_balance_bin_(0.0, 100.0]',
       'avg_yearly_balance_bin_(100.0, 500.0]', 'avg_yearly_balance_bin_(500.0, 1000.0]',
       'avg_yearly_balance_bin_(1000.0, 5000.0]', 'avg_yearly_balance_bin_(5000.0, inf]', 
       'age_bin_(0.0, 30.0]', 'age_bin_(30.0, 45.0]', 'age_bin_(45.0, 60.0]', 'age_bin_(60.0, inf]',
       'number_of_contacts_bin_(0.0, 1.0]', 'number_of_contacts_bin_(1.0, 2.0]',
       'number_of_contacts_bin_(2.0, 5.0]', 'number_of_contacts_bin_(5.0, inf]', 'is_subscribed']

* Task 11: Identifying X Variables and y variable (target) then train-test split

In [ ]:
# Task 11.1: From teh columns in the list 'model_columns_list' above, identify indepenet (X) and dependent (y) variables and complete the code below. 
# Hint 1: You can type or copy the column names from the 'model_columns_list'.
# Hint 2 : Replace <<?>>
#############################################################
X_variables = [<<?>>]
      
y_variable = '<<?>>'
#############################################################

print(F"X_variables = {X_variables}")
print(F"y_variable = {y_variable}")

In [ ]:
# Task 11.2: Split dataset into training and testing using
# Hint 1: Replace <<1>> by the appropriate function name
# Hint 2: Replace  <<2>>, <<3>> by appropriate variables created in the task 11.1
#############################################################
from sklearn.model_selection import <<1>>
X_train, X_test, y_train, y_test = <<1>>(data[<<2>>], data[<<3>>], test_size=0.3, random_state=42)
#############################################################

print(F"X_train = {X_train.shape[0]}")
print(F"y_train = {len(y_train)}")
print(F"X_test = {X_test.shape[0]}")
print(F"y_test = {len(y_test)}")

In [ ]:
# Execute code below to display first five rows of the feature datset
X_train.head()

* Task 12:  Train Classification Model and predict

In [ ]:
# Task 12.1 Train model
# Hint 1: Replace <<1>> by the appropriate class name to create RandomForest model object
# Hint 2: Replace <<2>> by the appropriate function name 
#############################################################
from sklearn.tree import RandomForestClassifier
model = <<1>>(random_state=0, max_depth=5, min_samples_split=5)
model.<<2>>(X_train, y_train)
#############################################################

In [ ]:
# Execute teh code below to get class labels
class_labels = [str(c) for c in model.classes_]
class_labels

In [ ]:
# Task 12.2 Make predictions
#############################################################
y_pred_prob = model.<<1>>(X_test)
y_pred = model.<<2>>(X_test)
#############################################################

In [ ]:
# Execute the code below to construct results dataframe
test_result = pd.DataFrame(data={'y_act':y_test, 'y_pred':y_pred, 'y_pred_prob':y_pred_prob})
test_result.sample(5)

In [ ]:
# Task 12.3 Comlete teh code below to create confusion matrix using the results dataframe 'test_result' and the crosstab() function
# Hint: Replace <<1>> by the appropriate function
#############################################################
cfm = <<1>>(test_result['y_act'], test_result['y_pred'])
#############################################################
cfm

* Accuracy

In [ ]:
#############################################################
# Task 12.4: Compute accuracy 
# Hint: Fill <<1>> with the appropriate function
from sklearn import metrics
acuracy_tc = metrics.<<1>>(test_result['y_act'], test_result['y_pred']) 
#############################################################
acuracy_tc

* Feature Importance

In [ ]:
pd.DataFrame({'Feature': X_variables, 'Importance': model.feature_importances_}).sort_values(by='Importance', ascending=False)

<hr>
Last update 2022-06-11 by Sumudu Tennakoon